.cabecalho {
    background-color: var(--azul-escuro);
}

.cabecalho__menu-hamburguer {
    width: 32px;
    height: 40px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2em 1.5em;
    gap: 2em;
}

.container__botao {
    display: none;
}

.lista-menu {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    background-color: var(--azul-escuro);
}

.container__botao:checked~.lista-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}

.lista-menu__link {
    color: var(--branco);
    text-decoration: none;
}
