.cabecalho {
    background-color: var(--azul-escuro);
}

.cabecalho__menu-hamburguer {
    width: 32px;
    height: 40px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2em 1.5em;
    gap: 2em;
}

.container__botao {
    display: none;
}

.lista-menu {
    position: absolute;
    display: none;
    top: 99%;
    right: 0;
    background-color: var(--azul-escuro);
}

.container__botao:checked~.lista-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
}

.lista-menu__item:nth-child(-n+3){
    padding: 0.5em 0;
    border-bottom: 1px solid var(--branco);
}

.lista-menu__link {
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}

@media (min-width: 720px) {
    .cabecalho__menu-hamburguer{
        display: none;
    }


    .container {
        flex-direction: column;
        align-items: center;
        padding: 2em 3.75em;
        gap: 1em;
    }
    
    .lista-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-direction: row;
        gap: 2em;
    }

    .lista-menu__item:nth-child(-n+3) {
        border: none;
    }
}

@media (min-width:1440px) {
    .container {
        flex-direction: row;
    }
}