.cabecalho {
    background-color: var(--azul-escuro);
}

.cabecalho__menu-hamburguer {
    width: 32px;
    height: 40px;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__imagem {
    padding: 2em 1.5em;
}

.container__botao {
    display: none;
}

.lista-menu {
    position: absolute;
    top: 100%;
    left: 51%;
    width: 40vw;
    background-color: var(--azul-escuro);
    padding: 16px;
}

.lista-menu__item {
    text-align: center;
}

.lista-menu__link {
    color: var(--branco);
    text-decoration: none;
}