.banner-ingresso {
    background-image: url("../img/Banner-ingresso.png");
}

.ingresso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 24px;
}

.ingresso__ticket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 32px;
}

.ticket__titulo {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    align-self: stretch;
    text-align: center;
}

.ticket__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
    box-sizing: border-box;
    width: 100%;
    background: var(--gradiente-verao);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.ticket__container__festival-nome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.ticket__container__festival-nome span {
    background-image: url("../img/simbolo-branco.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
}

.ticket__container__dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.qr_code {
    width: 60vw;
}

.ticket__container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
}

.ticket__container__portador {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.ticket__container__info__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ticket__info__list__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

@media (min-width: 760px) {
    .ingresso {
        padding: 0;
    }

    .ingresso__ticket {
        padding: 64px 60px;
    }

    .ticket__container {
        align-items: center;
        align-self: stretch;
    }

    .ticket__qr__code {
        width: 100%;
        text-align: center;
    }

    .qr_code {
        width: 310px;
        height: 310px;
    }
}

@media (min-width: 1440px) {
    .ingresso {
        flex-direction: column;
        align-items: center;
        padding: 64px 120px;
        gap: 48px;
    }

    .ingresso__ticket {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 32px;
        width: 792px;
    }

    .ticket__container__dados {
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 48px;
        width: 100%;
    }

    .ticket__qr__code {
        display: flex;
        width: fit-content;
        align-items: flex-start;
    }

    .qr_code {
        width: 222px;
        height: 222px;
    }

    .ticket__titulo br {
        display: none;
    }

    .ticket__container__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .ticket__container__info__list {
        align-items: flex-start;
        padding: 0px;
    }
}