@import url("header.css");
@import url("footer.css");
@import url("experiencia.css");
@import url("setores.css");
@import url("infos.css");
@import url("comprar_ingresso.css");
@import url("ingresso.css");

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap');

:root {
    --azul-claro: #C8DEEF;
    --azul: #519EC5;
    --azul-escuro: #2E7BA2;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
    --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --branco: #FFFFFF;
    --cinza: #444444;
    --preto: #000000;
    --fonte-titulos: "Calistoga";
    --fonte-principal: "Raleway";
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    min-height: 100vh;
    color: var(--cinza);
}

.banner-home {
    background: url("../img/Summer.png");
}

.banner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 270px;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}



.banner__titulo {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 2em;
}

main {
    background: var(--gradiente-verao);
}

.datas__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 1.5em;
}

.datas__imagem {
    border-radius: 16px;
}

.datas__container__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.datas__titulo {
    font-weight: 700;
    font-size: 32px;
}

.datas__texto {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: var(--cinza);
}

.datas__container__botao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em;
    gap: 1em;
    width: 280px;
    height: 56px;
}

.button {
    background-color: var(--azul-escuro);
    box-shadow: 4px 4px 0px var(--cinza);
    border: none;
    border-radius: 1em;
}

.button:hover {
    background-color: var(--azul);
}

.datas__botao__texto {
    font-size: 20px;
    color: var(--branco);
    font-weight: 700;
    line-height: 40px;
}

.datas__botao__icone {
    width: 32px;
    height: 40px;
}

.line-up {
    text-align: center;
}

.line-up__titulo {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    padding: 32px 24px;
}

.line-up__day {
    display: flex;
    flex-direction: column;
    padding: 48px 24px;
    gap: 48px;
}

.line-up__day__top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.line-up__day__top-heading {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 32px;
    padding: 16px;
    background-color: var(--mostarda);
    color: var(--branco);
    text-transform: uppercase;
    width: 288px;
}

.line-up__day__top-bar {
    color: var(--mostarda);
    display: none;
}

.line-up__day__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.line-up__day__list__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.line-up__items-gap {
    gap: 32px;
}

.line-up__items--first_line {
    font-size: 48px;
    font-weight: 800;
    line-height: 56.35px;
}

.line-up__items--second_line {
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
}

.line-up__items--third_line {
    font-size: 32px;
    font-weight: 700;
    line-height: 35.57px;
}

.line-up__items--fourth_line {
    font-size: 32px;
    font-weight: 500;
    line-height: 35.57px;
}

.list-items__double-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.banner__footer {
    background: url("../img/FooterBannerIndex.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 338px;
    mix-blend-mode: multiply;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media (min-width:760px) {
    .banner {
        height: 384px;
    }

    .banner__titulo {
        font-size: 64px;
    }

    .list-items__double-line {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
    }

    .line-up__day__top-bar {
        display: flex;
        border: 1px solid #DF9010;
        width: 81.5px;
        height: 0px;
        flex-grow: 1;
    }

    .line-up__day__top-heading {
        font-size: 48px;
        line-height: 62px;
        width: fit-content;
    }
}

@media (min-width: 1440px) {
    .banner {
        height: 407px;
    }

    .datas__container {
        flex-direction: row;
        padding: 4em 7.5em;
        gap: 4em;
    }

    .line-up__day__list__items {
        flex-direction: row;
        gap: 32px;
    }
}