@import url("header.css");
@import url("footer.css");

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap');

:root{
    --azul-escuro: #2E7BA2;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
    --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --branco: #FFFFFF;
    --cinza: #444444;
    --fonte-titulos: "Calistoga";
    --fonte-principal: "Raleway";
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    background: var(--gradiente-verao);
}

.banner {
    background: url("../img/Summer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 270px;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.5);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner__titulo {
    font-family: var(--fonte-titulos);
    font-weight: 400;
    font-size: 2em;
    color: var(--cinza);
}

.datas__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 1.5em;
}

.datas__imagem {
    border-radius: 16px;
}

.datas__container__texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.datas__titulo {
    font-weight: 700;
    font-size: 32px;
    color: var(--cinza);
}

.datas__texto {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    color: var(--cinza);
}

.datas__container__botao {
    background-color: var(--azul-escuro);
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0.5em 1em;
    gap: 1em;
    box-shadow: 4px 4px 0px var(--cinza);
    border-radius: 1em;
    width: 280px;
    height: 56px;
}

.datas__botao__texto {
    font-size: 20px;
    color: var(--branco);
    font-weight: 700;
    line-height: 40px;
}

.datas__botao__icone {
    width: 32px;
    height: 40px;
}

@media (min-width:760px) {
    .banner {
        height: 384px;
    }
}

@media (min-width: 1440px) {
    .banner {
        height: 407px;
    }
    .datas__container{
        flex-direction: row;
        padding: 4em 7.5em;
        gap: 4em;
    }
}