@import url("header.css");
@import url("footer.css");

@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700;800&display=swap');

:root{
    --azul-escuro: #2E7BA2;
    --amarelo: #FACF9D;
    --mostarda: #DF9010;
    --gradiente-verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --branco: #FFFFFF;
    --fonte-titulos: "Calistoga";
    --fonte-principal: "Raleway";
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
}